html{
font-size: 10px;
font-family: 'Roboto', sans-serif;
background-color: #F4F7F7
}
h1{
font-size: 60px;
text-align: center;
margin: 0;
padding: 20 px 0;
color: #F4F7F7;
}
h2{
font-size: 60px;
text-align: center;
}
p,li{ 
font-size: 16px;
line-height: 2;/* высота строки*/
letter-spacing: 1px;/* расстояние между буками*/
}
body{
width: 600px;
margin: 0 auto ;
background-color: #044241;
padding: 0 20px 20px 20px;
border: 5px solid white;
}
img{
display: block;
margin: 0 auto; 
width: 500px; 
heigh: 500px;
}
